<body>
 <main>
  <p class= "flash_success"><%= notice %></p>

    <div class="container px-5 px-sm-0">
     <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
       <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
        <table class="table">
          <tbody>
           <tr>
            <th>name</th>
            <th><%= @user.name %></th>
           </tr>
           <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
           </tr>
          </tbody>
        </table>
       <%= link_to edit_user_path(@user) do  %>
         <span class="btn btn-outline-secondary btn-block fas fa-user-cog"></span>
        <% end %>
         <h3>New book</h3>
       <%= form_with model: @book, local:true do |f| %>
         <br><a>Title</a></br>
          <%= f.text_field :title %>
         <br><a>Opinion</a></br>
          <%= f.text_area :body %>
          <br><input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book"><br>
       <% end %>
      </div>


     <div class="col-md-8 offset-md-1">
        <h2>Books</h2>

        <table class="table table-hover table-inverse">
         <thead>
          <tr>
           <th></th>
           <th>Title</th>
           <th>Opinion</th>
           <th colspan="3"></th>
          </tr>
         </thead>

         <tbody>
           <% @books.each do |book| %>
          <tr>
           <th><%= link_to attachment_image_tag(book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60'), user_path(book.user.id) %></th>
           <th><%= link_to book.title, book_path(book) %></th>
           <th><%= book.body %></th>
            <% if book.user == current_user %>
            <% end %>
          </tr>
         </tbody>
         <% end %>
        </table>


      </div>
     </div>
    </div>
  </main>
</body>